<section>
  <form action="/users/login" method="post">
    <h1 class="title">LOGIN</h1>

    <label>
      <input placeholder="Email" type="email" name="email" id="email" />
    </label>
    <label>
      <input
        placeholder="Contraseña"
        type="password"
        name="password"
        id="password"
      />
    </label>
    <a href="/register">No tienes cuenta? Create una!</a>
    <input type="submit" value="INGRESAR" />
  </form>

</section>